In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("./../g-research-crypto-forecasting/supplemental_train.csv")

In [3]:
df.head()

,timestamp,Asset_ID,Count,Open,High,Low,Close,Volume,VWAP,Target
0,1632182460,3,561.0,2.079028,2.080605,2.0720,2.076458,2.804627e+05,2.075869,0.003085
1,1632182460,2,169.0,541.006000,541.200000,539.7000,540.722000,1.889432e+02,540.716930,-0.000607
2,1632182460,0,400.0,363.737500,363.900000,363.0000,363.654000,8.792685e+02,363.499554,-0.019375
3,1632182460,1,1933.0,42986.143333,43001.000000,42898.0000,42947.065566,9.183861e+01,42942.976718,-0.000374
4,1632182460,4,348.0,0.208326,0.208400,0.2078,0.208200,1.051337e+06,0.208077,-0.001233

In [4]:
df.size

22364940

In [5]:
df.describe()

,timestamp,Asset_ID,Count,Open,High,Low,Close,Volume,VWAP,Target
count,2.236494e+06,2.236494e+06,2.236494e+06,2.236494e+06,2.236494e+06,2.236494e+06,2.236494e+06,2.236494e+06,2.236494e+06,2.234426e+06
mean,1.636977e+09,6.498849e+00,4.700188e+02,4.421508e+03,4.425608e+03,4.416905e+03,4.421509e+03,3.555324e+05,4.421460e+03,5.867916e-06
std,2.768257e+06,4.031089e+00,1.007096e+03,1.388477e+04,1.389730e+04,1.387052e+04,1.388477e+04,1.614089e+06,1.388461e+04,4.624160e-03
min,1.632182e+09,0.000000e+00,1.000000e+00,6.404500e-02,6.411000e-02,2.769000e-02,6.405591e-02,1.000000e-06,6.405021e-02,-1.514222e-01
25%,1.634581e+09,3.000000e+00,6.200000e+01,1.244750e+00,1.280000e+00,1.212400e+00,1.244700e+00,1.114632e+02,1.244717e+00,-1.251788e-03
50%,1.636977e+09,6.000000e+00,1.850000e+02,6.294104e+01,6.310275e+01,6.279000e+01,6.293099e+01,1.029258e+03,6.293196e+01,-5.350827e-05
75%,1.639374e+09,1.000000e+01,4.640000e+02,5.925705e+02,5.930657e+02,5.920100e+02,5.925629e+02,9.512762e+04,5.925576e+02,1.153818e-03
max,1.641773e+09,1.300000e+01,7.691500e+04,6.898612e+04,6.902420e+04,6.873400e+04,6.897356e+04,2.435599e+08,6.889405e+04,2.202029e-01

In [6]:
df[df.Target.isnull()==True].count()

timestamp    2068
Asset_ID     2068
Count        2068
Open         2068
High         2068
Low          2068
Close        2068
Volume       2068
VWAP         2068
Target          0
dtype: int64

In [7]:
df = df.dropna()

In [8]:
df[df.Target.isnull()==True].count()

timestamp    0
Asset_ID     0
Count        0
Open         0
High         0
Low          0
Close        0
Volume       0
VWAP         0
Target       0
dtype: int64

In [9]:
df.isnull().any()

timestamp    False
Asset_ID     False
Count        False
Open         False
High         False
Low          False
Close        False
Volume       False
VWAP         False
Target       False
dtype: bool